NET "to_adder_a" LOC = P51 | IOSTANDARD = LVTTL;
NET "to_adder_b" LOC = P41 | IOSTANDARD = LVTTL;
NET "to_adder_cin" LOC = P35 | IOSTANDARD = LVTTL;
NET "from_adder_s" LOC = P6;
NET "from_adder_s" IOSTANDARD = LVTTL;
NET "from_adder_cout" LOC = P2;
NET "from_adder_cout" IOSTANDARD = LVTTL;
