NET "7segA_0"  LOC = P97 | IOSTANDARD = LVTTL;
NET "7segA_1"  LOC = P97 | IOSTANDARD = LVTTL;
NET "7segA_2"  LOC = P97 | IOSTANDARD = LVTTL;
NET "7segA_3"  LOC = P97 | IOSTANDARD = LVTTL;
NET "7segA_4"  LOC = P97 | IOSTANDARD = LVTTL;
NET "7segA_5"  LOC = P97 | IOSTANDARD = LVTTL;
NET "7segA_6"  LOC = P97 | IOSTANDARD = LVTTL;
NET "7segA_7"  LOC = P97 | IOSTANDARD = LVTTL;
NET "7segA_8"  LOC = P97 | IOSTANDARD = LVTTL;

NET "7segB_0"  LOC = P97 | IOSTANDARD = LVTTL;
NET "7segB_1"  LOC = P97 | IOSTANDARD = LVTTL;
NET "7segB_2"  LOC = P97 | IOSTANDARD = LVTTL;
NET "7segB_3"  LOC = P97 | IOSTANDARD = LVTTL;
NET "7segB_4"  LOC = P97 | IOSTANDARD = LVTTL;
NET "7segB_5"  LOC = P97 | IOSTANDARD = LVTTL;
NET "7segB_6"  LOC = P97 | IOSTANDARD = LVTTL;
NET "7segB_7"  LOC = P97 | IOSTANDARD = LVTTL;
NET "7segB_8"  LOC = P97 | IOSTANDARD = LVTTL;


NET "7segC_0"  LOC = P97 | IOSTANDARD = LVTTL;
NET "7segC_1"  LOC = P97 | IOSTANDARD = LVTTL;
NET "7segC_2"  LOC = P97 | IOSTANDARD = LVTTL;
NET "7segC_3"  LOC = P97 | IOSTANDARD = LVTTL;
NET "7segC_4"  LOC = P97 | IOSTANDARD = LVTTL;
NET "7segC_5"  LOC = P97 | IOSTANDARD = LVTTL;
NET "7segC_6"  LOC = P97 | IOSTANDARD = LVTTL;
NET "7segC_7"  LOC = P97 | IOSTANDARD = LVTTL;
NET "7segC_8"  LOC = P97 | IOSTANDARD = LVTTL;


NET "7segD_0"  LOC = P97 | IOSTANDARD = LVTTL;
NET "7segD_1"  LOC = P97 | IOSTANDARD = LVTTL;
NET "7segD_2"  LOC = P97 | IOSTANDARD = LVTTL;
NET "7segD_3"  LOC = P97 | IOSTANDARD = LVTTL;
NET "7segD_4"  LOC = P97 | IOSTANDARD = LVTTL;
NET "7segD_5"  LOC = P97 | IOSTANDARD = LVTTL;
NET "7segD_6"  LOC = P97 | IOSTANDARD = LVTTL;
NET "7segD_7"  LOC = P97 | IOSTANDARD = LVTTL;
NET "7segD_8"  LOC = P97 | IOSTANDARD = LVTTL;


NET "7segE_0"  LOC = P97 | IOSTANDARD = LVTTL;
NET "7segE_1"  LOC = P97 | IOSTANDARD = LVTTL;
NET "7segE_2"  LOC = P97 | IOSTANDARD = LVTTL;
NET "7segE_3"  LOC = P97 | IOSTANDARD = LVTTL;
NET "7segE_4"  LOC = P97 | IOSTANDARD = LVTTL;
NET "7segE_5"  LOC = P97 | IOSTANDARD = LVTTL;
NET "7segE_6"  LOC = P97 | IOSTANDARD = LVTTL;
NET "7segE_7"  LOC = P97 | IOSTANDARD = LVTTL;
NET "7segE_8"  LOC = P97 | IOSTANDARD = LVTTL;