NET "sev_segA<0>"  LOC = P57 | IOSTANDARD = LVTTL;
NET "sev_segA<1>"  LOC = P66 | IOSTANDARD = LVTTL;
NET "sev_segA<2>"  LOC = P74 | IOSTANDARD = LVTTL;
NET "sev_segA<3>"  LOC = P70 | IOSTANDARD = LVTTL;
NET "sev_segA<4>"  LOC = P80 | IOSTANDARD = LVTTL;
NET "sev_segA<5>"  LOC = P82 | IOSTANDARD = LVTTL;
NET "sev_segA<6>"  LOC = P84 | IOSTANDARD = LVTTL;
NET "sev_segA<7>"  LOC = P85 | IOSTANDARD = LVTTL;
NET "sev_segA<8>"  LOC = P83 | IOSTANDARD = LVTTL;
NET "sev_segA<9>"  LOC = P81 | IOSTANDARD = LVTTL;
NET "sev_segA<10>"  LOC = P79 | IOSTANDARD = LVTTL;
NET "sev_segA<11>"  LOC = P75 | IOSTANDARD = LVTTL;
NET "sev_segA<12>"  LOC = P67 | IOSTANDARD = LVTTL;
NET "sev_segA<13>"  LOC = P56 | IOSTANDARD = LVTTL;


NET "sev_seg_Red<0>"  LOC = P12 | IOSTANDARD = LVTTL;
NET "sev_seg_Red<1>"  LOC = P2 | IOSTANDARD = LVTTL;
NET "sev_seg_Red<2>"  LOC = P7 | IOSTANDARD = LVTTL;
NET "sev_seg_Red<3>"  LOC = P11 | IOSTANDARD = LVTTL;
NET "sev_seg_Red<4>"  LOC = P14 | IOSTANDARD = LVTTL;
NET "sev_seg_Red<5>"  LOC = P10 | IOSTANDARD = LVTTL;
NET "sev_seg_Red<6>"  LOC = P5 | IOSTANDARD = LVTTL;
NET "sev_seg_Red<7>"  LOC = P11 | IOSTANDARD = LVTTL;

NET "sev_seg_sel_Red<0>" LOC=P15 | IOSTANDARD = LVTTL;
NET "sev_seg_sel_Red<1>" LOC=P8 | IOSTANDARD = LVTTL;
NET "sev_seg_sel_Red<2>" LOC=P6 | IOSTANDARD = LVTTL;
NET "sev_seg_sel_Red<3>" LOC=P1 | IOSTANDARD = LVTTL;