NET "keypad_Red_Row<3>"  LOC = P26 | IOSTANDARD = LVTTL | PULLUP;
NET "keypad_Red_Row<2>"  LOC = P29 | IOSTANDARD = LVTTL | PULLUP;
NET "keypad_Red_Row<1>"  LOC = P32 | IOSTANDARD = LVTTL | PULLUP;
NET "keypad_Red_Row<0>"  LOC = P34 | IOSTANDARD = LVTTL | PULLUP;


NET "keypad_Red_Col<3>"  LOC = P27 | IOSTANDARD = LVTTL;
NET "keypad_Red_Col<2>"  LOC = P30 | IOSTANDARD = LVTTL;
NET "keypad_Red_Col<1>"  LOC = P33 | IOSTANDARD = LVTTL;
NET "keypad_Red_Col<0>"  LOC = P35 | IOSTANDARD = LVTTL;

NET "new_Game_Button"  LOC = P74 | IOSTANDARD = LVTTL;
NET "easy_Button" LOC = P75 | IOSTANDARD = LVTTL;